#screen {
  display: block;
  margin: 30 auto;
  background-color: #000;
}

#footer {
  margin: 0 auto;
  text-align: center;
}

#footer button {
  height: 50;
  width: 120;
  background-color: #99F;
}